.timer {
    background-color: rgba(255, 255, 255, 0.1);
    display: inline-block;
    margin-top: 300px;
    padding: 10px;
    text-align: center;
    width: 200px;
    font-family: 'Dancing Script', cursive;
    border-radius: 50%;
  }
  
  .col {
    width: 25%;
    float: left;
  }
  
  .box {
    font-weight: 300;
    padding: 10px;
    border-right: solid  #F8F0E5;
  }
  
  .box p {
    font-size: calc(16px + 2vmin);
    margin: 0;
  }
  
  .text {
    font-size: 18px;
    font-family: 'Dancing Script', cursive;

  }